---
layout: archive
title: "Competitions"
permalink: /competition/
author_profile: true
---

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

1. 1ST Place in EPIC-Kitchens-100 2023 Challenges on EPIC-SOUNDS Audio-Based Interaction Recognition, CVPR 2023 Workshop. <a href="https://epic-kitchens.github.io/2024"> [Website] </a> <a href="https://arxiv.org/abs/2307.07265"> [Report] </a> <a href="https://github.com/StevenLauHKHK/AudioInceptionNeXt.git"> [Code] </a>
<br><br>

2. 4th Place in UDC 2020 Challenge on Image Restoration of Under-Display Camera, CVPR 2020 Workshop. <a href="https://arxiv.org/abs/2008.07742"> [Report] </a>
<br><br>