---
layout: archive
title: "Patents"
permalink: /patent/
author_profile: true
---

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

1. Ho Chun Leung, Kin Wai Lau, Huan Miao, Jie Liu. A super-resolution algorithm based on multi-branch high-low frequency processing (图像处理方法、装置、电子设备及计算机可读存储介质). CN115880144A (2023) <a href="https://patentimages.storage.googleapis.com/34/a8/e3/a7148295bcfb78/CN115880144A.pdf"> [URL] </a>
<br>

2. Kin Wai Lau, Lianping Xing, Yiqun Li, Dahai Yu. A reflection removal algorithm for under-display camera (一种图像处理方法、存储介质及终端设备). CN114387443A. (2022) <a href="https://patentimages.storage.googleapis.com/08/b6/0d/45dcb4a7e8ce96/CN114387443A.pdf"> [URL] </a>
<br>

3. Yiqun Li, Lianping Xing, Kin Wai Lau, Dahai Yu. A high dynamic range deep learning algorithm for under-display camera (一种图像处理方法、存储介质及终端设备). CN114331927A (2022) <a href="https://patentimages.storage.googleapis.com/62/71/84/831b1c0a671d68/CN114331927A.pdf"> [URL] </a>
<br>

4. Lianping Xing, Yiqun Li, Kin Wai Lau, Dahai Yu. A multi-exposure fusion techniques for under-display camera. (一种图像处理方法、存储介质及终端设备). CN114283072A (2022) <a href="https://patentimages.storage.googleapis.com/47/ec/ba/fece90b2801b86/CN114283072A.pdf"> [URL] </a>
<br>

5. Cheng Pen, Kin Wai Lau. A multi-frame denoising and super-resolution algorithm for smartphone camera. (一种图像处理方法及装置) CN113518243A (2021) <a href="https://patentimages.storage.googleapis.com/eb/72/81/74505e1e260650/CN113518243A.pdf"> [URL] </a>
<br>

6. Lai Man Po, LIU Mengyang, Yiu Fai Yuen, LI Yuming, Xuyuan Xu, Chang Zhou, Hon Wah Wong, Kin Wai Lau, Hon Tung Luk, Hok Kwan Cheung. Patch selection for neural network based no-reference image quality assessment. US20190362484A1 (2019) <a href="https://patentimages.storage.googleapis.com/d1/07/db/e3b5c95f3cda01/US20190362484A1.pdf"> [URL] </a>
<br>